#Autosave files
*~

#OS junk files
[Tt]humbs.db
*.DS_Store
*.fake/
#build
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
packages/
[Tt]est[Rr]esult*
[Tt]est-[Rr]esults/
#Visual Studio files
*/*/*/*/[Rr]esource.[Dd]esigner.cs
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.userprefs
*.resources
ipch/
# globs
Makefile.in
*.sln.cache
*.pidb
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.tar.gz
tarballs/
#Mac bundle stuff
*.dmg
*.app
#resharper
*_Resharper.*
*.Resharper
#dotCover
*.dotCover
#Calabash
*.irb-history
#Xamarin Components
[Cc]omponents/
#Testapps
[Tt]estapps
*.apk
*.ipa
*.dsym
.xmobility.droidres.db
.xmobility.db
.xmobility.db-journal
Settings.StyleCop
XMobility/.vs/XMobility/v15/Server/sqlite3/storage.ide-wal
XMobility/.vs/XMobility/v15/Server/sqlite3/storage.ide-shm
XMobility/.vs/XMobility/v15/Server/sqlite3/storage.ide
XMobility/.vs/XMobility/v15/Server/sqlite3/db.lock
UserPrefs.xml
XMobility/.mfractor
XMobility/.vs/
